@media (max-width: 425px) {
    .calendar{
        display: none;
    }
    .dateTime {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .addBtn {
      
        width: 25%;
    }
}