@media (max-width: 425px) {
    .calendar{
        display: none;
    }
    .dateTime {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .todoDiv {
        width: 100%;
    }
}
