aside{
  height: 100%;
  overflow: scroll;
  
}
.todoDiv{
    background-color:#33adff;
    min-width: 320px;
    overflow-y: auto; 
    height: 75.7%; 
    padding-bottom: 10rem;
}

ul{
    width: max-content;
    color: black;
    list-style-type: none;
    
 
}
ul li {
    cursor: pointer;
    display: flex;
    padding: 1rem 1rem 2rem 3rem;
    /* background: #eee; */
    font-size: 1rem;
    transition: 0.2s;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 0.5rem;
    float: left;
    font-size: 16px;
    margin-left: 1.5rem;
  }
  
  /* Style the "Add" button */
  .addBtn {
    padding: 10px;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    margin-left: 1.5rem;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    width: max-content;
    
  }
  
  .addBtn:hover {
    background-color: #bbb;
  }